{% extends "layout.html" %}
{% block content %}
    <style>
        .header {
            text-align: center;
            font-size: 1.5em;
        }
        .abbreviation {
            text-align: left;
            border: none;
        }
        .pad {
            padding: 0.3rem;
        }
        .body {
            font-size: 1.2rem;
        }
        .underline {
            text-decoration: underline;
        }
        @media (min-width: 550px) {
            .abbreviation {
                border: 2px solid black;
            }
        }
    </style>
    <div class="container-fluid body">
        <br />
        <div class="row">
            {% for campus, dep_dict in department_dict.items() %}
                <div class="col">
                    <div class="row">
                        <div class="col-12 header"><b>{{ campus }}</b></div>
                    </div>
                    <br />
                    {% for abb, name in dep_dict.items() %}
                        <div class="row pad">
                            <div class="col-4 abbreviation">
                                <b><a href={{ url + abb }}>{{ abb }}</a></b>
                            </div>
                            <div class="col-8 underline">{{ name.replace('/', ' ') }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}