{% extends "layout.html" %}
{% block content %}
    <style>
        th {
            font-family: Verdana;
            text-align: center;
        }
        td {
            text-align: center;
        }
    </style>
    {% if in_dict %}
        <table class="table table-striped table table-hover">
            <th colspan=2>
                <strong>
                    {{ '({}) {}'.format(department, department_dict[department]) }}
                </strong>
            </th>
            {% for course, data in course_dict.items() %}
                <tr>
                    <td>
                        <a href="{{ url + course }}" target="_blank">
                            <strong>{{ course }}</strong>
                        </a>
                    </td>
                    <td>{{ data['Course Name'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <script>
            alert("{{ '{} is not a course offered at UW'.format(department) }}")
        </script>
    {% endif %}
{% endblock content %}