{% extends "layout.html" %}
{% block content %}
    <style>
        th {
            text-align: center;
            font-size: 1.5em;
        }
        #abbreviation {
            text-align: center;
        }
    </style>
    <table class="table table-striped">
        <tr>
            {% for campus, dep_dict in department_dict.items() %}
                <td>
                    <table class="table table-striped table table-hover">
                        <tr>
                            <th colspan=2>{{ campus }}</th>
                        </tr>
                        {% for abb, name in dep_dict.items() %}
                            <tr>
                                <td id="abbreviation"><strong>
                                    <a href={{ url + abb }}>{{ abb }}</a>
                                </strong></td>
                                <td>{{ name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            {% endfor %}
        </tr>
    </table>
{% endblock content %}