{% extends "layout.html" %}
{% block content %}
    <style>
        h2 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            padding: 0.5em;
        }
        .form-inline {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            display: block;

        }
        #tree {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-height: 60vh;
            max-width: 90%;
        }
        @media (min-width: 550px) {
            #tree {
                max-height: 160vh;
                max-width: 90%;
            }
        }
    </style>
    <h2>
        <strong>Prerequisite Tree Generator</strong>
    </h2>
    <h5 class="form-inline">Enter Course Code (i.e CHEM142) below to generate a Prerequisite Tree</h5>
    <br />
    <div class="form-inline">
        <input type="text" class="form-control" id="courseInput" placeholder="Course Code...">
        <button class="btn btn-primary" id="btn">
            <span></span>Generate
        </button>
    </div>
    <hr>
    <img id="tree" src="test.png">
    <script src="{{ url_for('static', filename='JavaScript/generate.js') }}"></script>
{% endblock content %}