{% extends "layout.html" %}
{% block content %}
    <h2 style="font-family: Trebuchet MS, Helvetica, sans-serif;
               text-align: center; padding: 0.5em">
        <strong>Prerequisite Tree Generator</strong>
    </h2>
    <div class="form-inline" style="text-align: center; margin-left: auto; margin-right: auto; display: block">
        <input type="text" class="form-control" id="courseInput" placeholder="Course">
        <button class="btn btn-primary" id="btn">
            <span></span>Generate
        </button>
    </div>
    <hr>
    <img id="tree" src= "test.png" style="width: 50%; margin-left: auto; margin-right: auto; display: block">
    <script src="{{ url_for('static', filename='JavaScript/generate.js') }}"></script>
{% endblock content %}