{% extends "layout.html" %}
{% block content %}
    <style>
    td {
        font-weight: bold;
    }
    .col-md-3 {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    </style>
    <h2 style="font-family: Trebuchet MS, Helvetica, sans-serif; text-align: center; padding: 0.5em">
        <strong>MyMap</strong>
    </h2>
    <div id="inputs" class="form-inline" style="text-align: center; margin-left: auto; margin-right: auto; display: block">
        <input type="text" class="form-control" id="course" placeholder="Enter Course...">
        <button class="btn btn-primary" id="btn">
            <span id="select"></span>Add Course
        </button>
        <button class="btn btn-primary" id="schedule">
            <span id="sch"></span>Create Schedule
        </button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Select Campus
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#" id="campus" val="Seattle">Seattle</a>
            <a class="dropdown-item" href="#" id="campus" val="Bothell">Bothell</a>
            <a class="dropdown-item" href="#" id="campus" val="Tacoma">Tacoma</a>
        </div>
    </div>
    <div id="mapped">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"><button class="btn btn-primary" id="prev"><span id="prevSpan"></span>Prev</button></div>
                <div class="col-md-6"><h5 id="sectionsTitle" style="text-align: center"></h5></div>
                <div class="col-md-1"><button class="btn btn-primary" id="next"><span id="nextSpan"></span>Next</button></div>
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <h6 style="text-align: center">Click on the pins to see course information</h6>
    </div>
    <hr>
    <div class="form-inline" style="margin-left: auto; margin-right: auto">
        <table id="chosen" style="margin: 0px auto; table-layout: fixed; width: 30%; vertical-align: middle; text-align: center"></table>
    </div>
    <div id="mapid" style="height: 550px"></div>
    <script src="{{ url_for('static', filename='JavaScript/geocode.js') }}"></script>
{% endblock content %}