{% extends "layout.html" %}
{% block content%}
    <style>
        .card-body {
            text-align: center;
            font-weight: bolder;
        }
        .card {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            font-size: 1.4em;
        }
        p {
            width: 65%;
            margin-left: auto;
            margin-right: auto;
            padding: 1em;
        }
        #example {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            display: block;
            border:5px solid turquoise;
        }
        #cardImg {
            width: 45%;
            margin-left: auto;
            margin-right: auto;
            padding: 1em;
        }
        #headerImg {
            width: 16%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        h2 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            padding: 1em;
        }
    </style>
    <h2>
        <strong>UW Course Planner</strong>
    </h2>
    <img src="{{ url_for('static', filename='Images/UWLogo.png') }}" alt="UW Course Planner Logo" id="headerImg">
    <br />
    <p>
        The UW Course Planner helps to simplify course searches at UW. It offers a keyword search to search through the descriptions
        of every course offered at UW to give you an idea of what courses could match your interests. 
        <br /><br />
        Course and Department searching is quick and simple with easily accesible pages for each department/course at every UW Campus through the
        <a href="{{ url_for('departments') }}">Departments</a> page or the Search bar at the top right of the screen.
        All courses in every department are listed in order, showing you everything in one place.
        <br /><br />
        Prerequisite Trees help give you a better understanding of the courses you need to take and succint course information 
        gives you a quick summary of every course. 
        <br /><br />
        An interactive map for each UW Campus also allows you to see where your classes are, so you can avoid those stressful days when you need to go from
        Condon Hall to the Mechanical Engineering Building in 10 minutes.
    </p>
{% endblock content %}