{% extends "layout.html" %}
{% block content %}
    <style>
        h2 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            padding: 0.5em;
        }
        .form-inline {
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            display: block;
        }
    </style>
    <h2>
        <strong>Course Keyword Search</strong>
    </h2>
    <h5 class="form-inline">Search Course Descriptions by entering keywords below</h5>
    <br />
    <div class="form-inline">
        <input type="text" class="form-control" id="keywordInput" placeholder="Keyword...">
        <button class="btn btn-primary" id="btn">
            <span></span>Search
        </button>
    </div>
    <hr>
    <table id="results" class="table table-striped table table-hover"></table>
    <script src="{{ url_for('static', filename='JavaScript/keyword.js') }}"></script>
{% endblock content %}