<!doctype html>
<html lang="en">
    <head>
        <title>UW Course Tool</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='Images/UWIcon.png')}}" />
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-expand-md bg-primary navbar-dark">
            <div class="navbar-brand">
                <img src="{{ url_for('static', filename='Images/UWLogo.png') }}" width=60 alt="UW Logo">
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index')}}">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('requirements')}}">Requirements</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('departments')}}">Departments</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('generate')}}">Create Tree</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('keyword')}}">Keyword Search</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto"> 
                    <li>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" id="courseSearch" placeholder="Search...">
                            <button class="btn btn-success my-2 my-sm-0" id="searchBtn" type="button">Search</button>
                        </form>   
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
        <script src="{{ url_for('static', filename='JavaScript/layout.js') }}"></script>
    </body>
</html>