{% extends "layout.html" %}
{% block content %}
    <style>
        td {
            vertical-align: middle;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
        }
        .card-bg-light {
            width: 50%;
            padding: 2em;
        }
        .card-img-top {
            width: 80px; 
            margin-left: auto; 
            margin-right: auto; 
            display: block;
        }
        p {
            width: 80%;
            text-align: center;
            margin-left: auto; 
            margin-right: auto; 
            display: block;
        }
        h2 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            padding: 1em;
        }
        col {
            width: 30%;
        }
        .form-control-file {
            padding: 1em;
        }
    </style>
    <h2>
        <strong>Transcript</strong>
    </h2>
    <table>
        <col>
        <col>
        <col>
        <tr>
            <td></td>
            <td>
                {% if transcript %}
                    <img class="card-img-top" src="{{ url_for('static', filename='Images/check.png') }}" 
                        alt="Transcript Found">
                {% else %}
                    <img class="card-img-top" src="{{ url_for('static', filename='Images/x.png') }}" 
                        alt="Transcript not Found">
                {% endif %}
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p>
                    <strong>OPTIONAL:</strong> To remove courses you've already taken, copy/paste your
                    <a href="https://myplan.uw.edu/" target="_blank">Unofficial Transcript</a> 
                    into a text document and upload it. 
                </p>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <form action="{{ url + 'upload'}}" id="file" method="POST" enctype="multipart/form-data">
                    <input type="file" name="transcript" class="form-control-file"/>
                    <input type="submit" id="fileSubmit" class="btn btn-primary"/>
                </form>
            </td>
            <td></td>
        </tr>
    </table>
    <script src="{{ url_for('static', filename='JavaScript/requirements.js') }}"></script>
{% endblock content %}